<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Danh sách người có lương cao hơn trung bình</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<h1> Danh sách người có lương cao hơn trung bình</h1>
<p th:text="${averageSalary}"> Mức lương trung bình </p>
<p>
<ul>
  <li th:each="person : ${aboveAveragePeople}">
    <span th:text="${person.fullname}"></span> - <strong th:text="${person.salary}"></strong>
  </li>
</ul>
</p>
<a th:href="@{/}">Back to Menu Option</a>
<script th:src="@{/js/main.js}"></script>

</body>
</html>