<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Trang chủ</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>
<header>
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="https://movie.techmaster.vn/assets/logo-C2IIl7EL.png" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active text-warning" aria-current="page" href="#">Trang chủ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" th:href="@{/phim-bo}">Phim bộ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" th:href="@{/phim-chieu-rap}">Phim chiếu rạp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" th:href="@{/phim-le}">Phim lẻ</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Quốc gia
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Ireland</a></li>
                <li><a class="dropdown-item" href="#">Brazil</a></li>
                <li><a class="dropdown-item" href="#">Việt Nam</a></li>
                <li><a class="dropdown-item" href="#">Nga</a></li>
                <li><a class="dropdown-item" href="#">Mexico</a></li>
                <li><a class="dropdown-item" href="#">Đài Loan</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Thể loại
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Viễn tây</a></li>
                <li><a class="dropdown-item" href="#">Tội phạm</a></li>
                <li><a class="dropdown-item" href="#">Trinh thám</a></li>
                <li><a class="dropdown-item" href="#">Thể thao</a></li>
                <li><a class="dropdown-item" href="#">Giật gân</a></li>
                <li><a class="dropdown-item" href="#">Kinh dị</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Mua phim</a>
            </li>
          </ul>
        </div>
        <div>
          <a class="nav-link text-white" href="#">Đăng nhập</a>
        </div>
      </div>
    </div>
  </nav>
</header>

<section class="py-4">
  <div class="container">
    <h4 class="mb-2">Phim HOT</h4>
    <div class="row">
      <div class="col-3">
        <div class="movie-item">
          <div class="movie-poster rounded overflow-hidden">
            <img src="https://cinema.momocdn.net/img/6704916054765301-unT5IUqiZgqcGyjcOMxomdxQOMj.jpg"
                 alt="Đầu Gấu Đụng Đầu Đất">
          </div>
          <div class="movie-info">
            <p class="mt-3 mb-0">Đầu gấu đụng đầu đất</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="movie-item">
          <div class="movie-poster rounded overflow-hidden">
            <img src="https://cinema.momocdn.net/img/2992441914573562-rvFeNpYimvtEEZgkhiBfXJA5oTf.jpg"
                 alt="13 Nghi Thức Trừ Tà">
          </div>
          <div class="movie-info">
            <p class="mt-3 mb-0">13 Nghi Thức Trừ Tà</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="movie-item">
          <div class="movie-poster rounded overflow-hidden">
            <img src="https://homepage.momocdn.net/cinema/momo-upload-api-230525155042-638206266426364914.jpg"
                 alt="Chàng Trai Xinh Đẹp Của Tôi">
          </div>
          <div class="movie-info">
            <p class="mt-3 mb-0">Chàng Trai Xinh Đẹp Của Tôi</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="movie-item">
          <div class="movie-poster rounded overflow-hidden">
            <img src="https://homepage.momocdn.net/cinema/momo-cdn-api-220615143142-637909003020510101.jpg"
                 alt="Thám Tử lừng Danh Conan: Nàng Dâu Halloween (Chiếu lại)">
          </div>
          <div class="movie-info">
            <p class="mt-3 mb-0">Thám Tử lừng Danh Conan: Nàng Dâu Halloween (Chiếu lại)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-4 bg-body-tertiary">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h4>Phim lẻ mới cập nhật</h4>
      <a href="#">Xem thêm</a>
    </div>
    <div class="row">
      <div class="col-2">
        <div class="movie-item">
          <div class="movie-poster rounded overflow-hidden">
            <img src="https://cinema.momocdn.net/img/6704916054765301-unT5IUqiZgqcGyjcOMxomdxQOMj.jpg"
                 alt="Đầu Gấu Đụng Đầu Đất">
          </div>
          <div class="movie-info">
            <p class="mt-3 mb-0">Đầu gấu đụng đầu đất</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="movie-item">
          <div class="movie-poster rounded overflow-hidden">
            <img src="https://homepage.momocdn.net/cinema/momo-cdn-api-220615142954-637909001949302184.jpg"
                 alt="Nhím Sonic 2">
          </div>
          <div class="movie-info">
            <p class="mt-3 mb-0">Nhím Sonic 2</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="movie-item">
          <div class="movie-poster rounded overflow-hidden">
            <img src="https://homepage.momocdn.net/cinema/momo-upload-api-230525155042-638206266426364914.jpg"
                 alt="Chàng Trai Xinh Đẹp Của Tôi">
          </div>
          <div class="movie-info">
            <p class="mt-3 mb-0">Chàng Trai Xinh Đẹp Của Tôi</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="movie-item">
          <div class="movie-poster rounded overflow-hidden">
            <img src="https://homepage.momocdn.net/cinema/momo-cdn-api-220615142913-637909001532744942.jpg"
                 alt="Belle: Rồng và Công Chúa Tàn Nhang">
          </div>
          <div class="movie-info">
            <p class="mt-3 mb-0">Belle: Rồng và Công Chúa Tàn Nhang</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="movie-item">
          <div class="movie-poster rounded overflow-hidden">
            <img src="https://homepage.momocdn.net/cinema/momo-cdn-api-220615142928-637909001686261188.jpg"
                 alt="Xe Cấp Cứu">
          </div>
          <div class="movie-info">
            <p class="mt-3 mb-0">Xe Cấp Cứu</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="movie-item">
          <div class="movie-poster rounded overflow-hidden">
            <img src="https://cinema.momocdn.net/img/79669879927822392-irDiMv0ddrr2evxntiEje9B1t1U.jpg"
                 alt="Môn Phái Võ Mèo: Huyền Thoại Một Chú Chó">
          </div>
          <div class="movie-info">
            <p class="mt-3 mb-0">Môn Phái Võ Mèo: Huyền Thoại Một Chú Chó</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-4">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h4>Phim bộ mới cập nhật</h4>
      <a href="#">Xem thêm</a>
    </div>
    <div class="row">
      <div class="col-2">
        <div class="movie-item">
          <div class="movie-poster rounded overflow-hidden">
            <img src="https://homepage.momocdn.net/cinema/momo-upload-api-230117101026-638095470266284448.jpg"
                 alt="Nhà Bà Nữ">
          </div>
          <div class="movie-info">
            <p class="mt-3 mb-0">Nhà Bà Nữ</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="movie-item">
          <div class="movie-poster rounded overflow-hidden">
            <img src="https://homepage.momocdn.net/cinema/momo-cdn-api-220615142911-637909001515521735.jpg"
                 alt="Bồ Cũ">
          </div>
          <div class="movie-info">
            <p class="mt-3 mb-0">Bồ Cũ</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="movie-item">
          <div class="movie-poster rounded overflow-hidden">
            <img src="https://homepage.momocdn.net/cinema/momo-cdn-api-220615142920-637909001606231482.jpg"
                 alt="Gã Điên Báo Thù">
          </div>
          <div class="movie-info">
            <p class="mt-3 mb-0">Gã Điên Báo Thù</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="movie-item">
          <div class="movie-poster rounded overflow-hidden">
            <img src="https://homepage.momocdn.net/cinema/momo-upload-api-230707152435-638243402755540257.jpg"
                 alt="Ông Kẹ">
          </div>
          <div class="movie-info">
            <p class="mt-3 mb-0">Ông kẹ</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="movie-item">
          <div class="movie-poster rounded overflow-hidden">
            <img src="https://movie.techmaster.vn/phim/104/moi-quy-du" alt="Mồi Quỹ Dữ">
          </div>
          <div class="movie-info">
            <p class="mt-3 mb-0">Mồi Quỹ Dữ</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="movie-item">
          <div class="movie-poster rounded overflow-hidden">
            <img src="https://homepage.momocdn.net/cinema/momo-cdn-api-220615142925-637909001651149340.jpg"
                 alt="Những Kẻ Xấu xa">
          </div>
          <div class="movie-info">
            <p class="mt-3 mb-0">Những Kẻ Xấu Xa</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-4 bg-body-tertiary">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h4>Phim chiếu rạp mới cập nhật</h4>
      <a href="#">Xem thêm</a>
    </div>
    <div class="row">
      <div class="col-2">
        <div class="movie-item">
          <div class="movie-poster rounded overflow-hidden">
            <img src="https://cinema.momocdn.net/img/1f118f3d-2381-4707-afef-cdb2efb8d933-4260000369219083.png"
                 alt="Trạng Tí Phiêu Lưu Ký">
          </div>
          <div class="movie-info">
            <p class="mt-3 mb-0">Trạng Tí Phiêu Lưu Ký</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="movie-item">
          <div class="movie-poster rounded overflow-hidden">
            <img src="https://cinema.momocdn.net/img/60738efc-4247-4b0f-8f93-230f1048463c-67607266484586062.jpg"
                 alt="Lật Mặt 6: Tấm Vé Định Mệnh">
          </div>
          <div class="movie-info">
            <p class="mt-3 mb-0">Lật Mặt 6: Tấm Vé Định Mệnh</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="movie-item">
          <div class="movie-poster rounded overflow-hidden">
            <img src="https://homepage.momocdn.net/cinema/momo-cdn-api-220615142916-637909001563293062.jpg"
                 alt="NOPE: KHÔNG">
          </div>
          <div class="movie-info">
            <p class="mt-3 mb-0">NOPE: KHÔNG</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="movie-item">
          <div class="movie-poster rounded overflow-hidden">
            <img src="https://cinema.momocdn.net/img/89450286334689294-vW016VDPIzzEgDzrC19xJ7pAoqg.jpg"
                 alt="Âm Lượng Hủy Diệt">
          </div>
          <div class="movie-info">
            <p class="mt-3 mb-0">Âm Lượng Hủy Diệt</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="movie-item">
          <div class="movie-poster rounded overflow-hidden">
            <img src="https://cinema.momocdn.net/img/80376219538772557-1-5004.png" alt="Vô Diện Sát Nhân">
          </div>
          <div class="movie-info">
            <p class="mt-3 mb-0">Vô Diện Sát Nhân</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="movie-item">
          <div class="movie-poster rounded overflow-hidden">
            <img src="https://cinema.momocdn.net/img/4186614890981939-54IXMMEQKlkPXHqPExWy98UBmtE.jpg"
                 alt="Vong Hồn Rước Lễ">
          </div>
          <div class="movie-info">
            <p class="mt-3 mb-0">Vong Hồn Rước Lễ</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-4">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h4>Tin tức</h4>
      <a href="#">Xem thêm</a>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="movie-item  rounded p-2 bg-body-tertiary">
          <div class="row g-2 d-flex">
            <div class="col-4 ">
              <img class="img-news"
                   src="https://homepage.momocdn.net/blogscontents/momo-upload-api-220107141543-637771617437820626.jpg"
                   alt="Top phim anime hay nhất mọi thời đại">
            </div>
            <div class="col-8">
              <h5 class="mb-1 text-truncate fw-bold">Top phim anime hay nhất mọi thời đại</h5>
              <h6 class="fw-light fst-italic mb-3">14/03/2025</h6>
              <p class="mb-0">Nếu là fan của những bộ manga cùng các nhân vật hoạt hình đình đám đến
                từ Nhật bản, hãy để Ví MoMo giới thiệu 10 tác phẩm anime đặc sắc mà bạn không thể bỏ
                lỡ.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="movie-item rounded p-2 bg-body-tertiary">
          <div class="row g-2">
            <div class="col-4">
              <img class="img-news"
                   src="https://homepage.momocdn.net/blogscontents/momo-upload-api-220131203358-637792580387663802.jpg"
                   alt="Phim Hàn Quốc 2022 đầy hứa hẹn">
            </div>
            <div class="col-8">
              <h5 class="mb-1 text-truncate fw-bold">Phim Hàn Quốc 2022 đầy hứa hẹn</h5>
              <h6 class="fw-light fst-italic mb-3">13/11/2024</h6>
              <p class="mb-0 ">Phim truyền hình Hàn Quốc luôn mang đến cho khán giả những tác phẩm ấn
                tượng và gây cấn. Năm 2022 này, MoMo xin phép liệt kê danh sách phim bộ Hàn Quốc năm
                2022 siêu hấp dẫn
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="movie-item rounded p-2 bg-body-tertiary">
          <div class="row g-2">
            <div class="col-4">
              <img class="img-news"
                   src="https://homepage.momocdn.net/blogscontents/momo-upload-api-220209141122-637800126824156951.jpg"
                   alt="Những bộ phim chủ đề Trò chơi đỉnh cao">
            </div>
            <div class="col-8">
              <h5 class="mb-1 text-truncate fw-bold">Những bộ phim chủ đề Trò chơi đỉnh cao</h5>
              <h6 class="fw-light fst-italic mb-3">08/06/2024</h6>
              <p class="mb-0">Bạn đam mê những Game đầy gay cấn kịch tính, hôm nay Ví MoMo xin mang
                đến 10 bộ phim đặc sắc về chủ đề Trò chơi.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <div class="movie-item rounded p-2 bg-body-tertiary">
          <div class="row g-2">
            <div class="col-4">
              <img class="img-news"
                   src="https://homepage.momocdn.net/blogscontents/momo-upload-api-220729104941-637946885811587476.jpg"
                   alt="Danh sách phim hay Netflix tháng 08/2022">
            </div>
            <div class="col-8">
              <h5 class="mb-1 text-truncate fw-bold">Danh sách phim hay Netflix tháng 08/2022</h5>
              <h6 class="fw-light fst-italic mb-3">08/06/2024</h6>
              <p class="mb-0">Dưới đây, Ví MoMo sẽ giúp bạn cập nhật danh sách các tựa phim hay trên
                Netflix sẽ lên sóng trong tháng 8 và những phim của Netflix Originals sản xuất cũng
                được xếp hàng trong tháng này.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<footer>
  <section class="bg-dark text-white py-4">
    <div class="container">
      <div class="row ">
        <!-- Logo và giới thiệu -->
        <div class="col-md-4 d-flex flex-column align-items-center mt-md-3 px-md-5 ">
          <a class="navbar-brand" href="#">
            <img src="https://movie.techmaster.vn/assets/logo-C2IIl7EL.png" alt="logo" class="img-fluid mb-2"
                 style="max-width: 150px;">
          </a>
          <p class="text-secondary small mx-auto text-center mt-3">
            Motchill - Xem phim Online Vietsub chất lượng cao miễn phí, nhiều thể loại
            phim phong phú, đặc sắc, giao diện trực quan, thuận tiện, tốc độ tải nhanh, thường xuyên cập nhật các bộ
            phim mới.
          </p>
        </div>
        <div class="col-md-2">
          <h5 class="fw-bold small mt-3">DANH MỤC</h5>
          <ul class="list-unstyled small d-flex flex-column gap-3 mt-3">
            <li class="list-item ">Phim chiếu rạp</li>
            <li class="list-item ">Tin tức</li>
            <li class="list-item">Phim bộ</li>
            <li class="list-item">Phim lẻ</li>
            <li class="list-item">TV Show</li>
          </ul>
        </div>
        <div class="col-md-2">
          <h5 class="fw-bold small mt-3">THỂ LOẠI</h5>
          <ul class="list-unstyled small d-flex flex-column gap-3 mt-3">
            <li class="list-item">Phim cổ trang</li>
            <li class="list-item">Phim đam mỹ</li>
            <li class="list-item">Phim bách hợp</li>
            <li class="list-item">Phim viễn tưởng</li>
            <li class="list-item">Phim hoạt hình</li>
          </ul>
        </div>
        <div class="col-md-2">
          <h5 class="fw-bold small mt-3">ĐIỀU KHOẢN</h5>
          <ul class="list-unstyled small d-flex flex-column gap-3 mt-3 ">
            <li class="list-item">DMCA</li>
            <li class="list-item">Liên hệ</li>
            <li class="list-item">Privacy</li>
            <li class="list-item">Terms of Service</li>
          </ul>
        </div>
        <div class="col-md-2 d-flex flex-column align-items-center gap-3 mt-3">
          <h5 class="fw-bold small">SOCIAL</h5>
          <img src="https://movie.techmaster.vn/assets/facebook-BcNyBvTH.png" alt="Facebook" class="logo-social">
          <img src="https://movie.techmaster.vn/assets/twitter-SwWbRagI.png" alt="Twitter" class="logo-social">
          <img src="https://movie.techmaster.vn/assets/youtube-zurOuWpU.png" alt="YouTube" class="logo-social">
        </div>
      </div>
    </div>
  </section>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>