body {
    background-color: #87CEEB;  /* Màu nền xanh da trời */
}

.product-card {
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    height: 200px;
    object-fit: cover;
}
/* Gạch ngang giá bán */
.old-price {
    text-decoration: line-through;
    color: #888;  /* Màu xám cho giá gạch ngang */
}

/* Hiển thị giá giảm giá */
.discount-price {
    color: #ff0000;  /* Màu đỏ cho giá giảm */
    font-weight: bold; /* Để làm nổi bật giá giảm */
}